<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form id="loginForm">
    <div>
        <label>用户名:</label>
        <label for="username"></label>
        <input type="text" id="username" required>
    </div>

    <div>
        <label>密码:</label>
        <label for="password"></label>
        <input type="password" id="password" required>
    </div>

    <button type="submit">登录</button>
</form>
<script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
        e.preventDefault(); // 阻止表单默认提交行为

        // 获取输入值
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        try {
            const response = await fetch(
                '/login',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: username,
                        password: password
                    })
                }
            );
            const data = await response.json();
            if (data['success']) {
                setTimeout(
                    () => {
                        window.location.href = '/index';  // 跳转到目标页面
                    }, 1000
                );
            }
        } catch (error) {

        }

    })
</script>
</body>
</html>