<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
</head>
<body>
<form id="registerForm">
    <div>
        <label for="username">用户名:</label>
        <input id="username" required>
    </div>
    <div>
        <label for = "studentNumber">学号:</label>
        <input id = "studentNumber" required>
    </div>
    <div>
        <label>密码:</label>
        <label for="password"></label><input id="password" required>
    </div>

    <div>
        <label>确认密码:</label>
        <label for="confirmPassword"></label><input id="confirmPassword" required>
    </div>

    <button type="submit">注册</button>
</form>
<div id = "message"></div>
<script src = 'register.js'></script>
</body>
</html>